/* removing defualt styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* adding google-fonts */
:root {
  --font-noto-serif: "Noto Serif", serif;
  --font-inter: "Inter", sans-serif;
  --primary-color: #E95A08
}

/* shared styles */
.primary-btn {
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 600;
  padding: 26px 50px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* nav styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

#home {
  font-weight: 700;
  color: #000;
}

#shop, #about-us {
  color: #8987A1;
}

.nav-left {
  width: 135px;
}

.nav-right ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.nav-right ul li a {
  font-family: var(--font-inter);
  font-size: 1rem;
  text-decoration: none;
}

/* banner styles */

.banner {
  display: flex;
  align-items: center;
  margin-top: 7.5rem;
}

.banner-title {
  font-family: var(--font-noto-serif);
  font-size: 4rem;
  font-weight: 700;
  color: #000;
  margin-bottom: .75rem;
}

.heading-style {
  color: var(--primary-color);
}

.banner-sub-title {
  font-family: var(--font-inter);
  max-width: 570px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.35rem;
}

/* cart-container styles */

.plants-container {
  margin-top: 7.5rem;
}

.plants-container h2 {
  font-family: var(--font-noto-serif);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.plants-sub-title {
  font-family: var(--font-inter);
  font-size: 1.35rem;
  max-width: 888px;
  color: rgba(0, 0, 0, 0.5);
  margin:0 auto 3rem;
  text-align: center;
}

#plants-heading-style {
  color: var(--primary-color);
}

.plant-carts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cart-details h5 {
  font-family: var(--font-inter);
  font-size: 1.37rem;
  font-weight: 500;
  color: #111111;
  margin-bottom: 1rem;
}

.cart-details p {
  font-family: var(--font-inter);
  font-size: 1.37rem;
  font-weight: 700;
  color: #111111;
  text-align: center;
}

.cart .primary-btn {
  width: 100%;
}

/* flower lovers section styles */
.flowers-lover {
  display: flex;
  align-items: center;
  margin-top: 9rem;
  gap: 4rem;
}

.flowers-lover-image {
  position: relative;
  flex: 1;
}

#trusted-badge {
  max-width: 280px;
  position: absolute;
  top: -6rem;
  right: -6rem;
}

.flowers-lover-description {
  flex: 1;
}

.flower-lover-title {
  max-width: 540px;
  font-family: var(--font-noto-serif);
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 1.25rem;
}

.flowers-lover-description ul li {
  font-family: var(--font-inter);
  font-size: 1.37rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1.25rem;
}

/* deals and offer section */
.deals-container {
  margin-top: 8rem;
}

.deals-title {
  font-family: var(--font-noto-serif);
  font-size: 3rem;
  font-weight: 700;
  color: #E95A08;
  text-align: center;
  margin-bottom: 1rem;
}

.deals-title-black {
  color: #000;
}

.deals-sub-title {
  max-width: 880px;
  font-family: var(--font-inter);
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.37rem;
  margin: 0 auto 7.5rem;
  text-align: center;
}

.deals-offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  column-gap: 28px;
  row-gap: 25px;
}

.offer-1 {
  background-image: linear-gradient(327deg,rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.4) 100%),
                    url(../assets/deal-bloom.png);
  background-size: cover;
  background-position: center;
  grid-column: span 1;
  grid-row: span 1;
  border-radius: 14px;
}

.offer-2 {
  background-image: linear-gradient(327deg,rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.4) 100%),
                    url(../assets/deal-zabo.png);
  background-size: cover;
  background-position: center;
  grid-column: span 2;
  grid-row: span 2;
  border-radius: 22px;
}

.offer-3 {
  background-image: linear-gradient(327deg,rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.4) 100%),
                    url(../assets/deal-ana.png);
  background-size: cover;
  background-position: center;
  grid-column: span 1;
  grid-row: span 1;
  border-radius: 14px;
}

.offer-1, .offer-2, .offer-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.offer-1 p, .offer-3 p {
  font-family: var(--font-noto-serif);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.offer-1 a, .offer-3 a {
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.offer-2 p {
  font-family: var(--font-noto-serif);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.offer-2 a {
  font-family: var(--font-inter);
  font-size: 1.75rem;
  font-weight: 600;
  color: #fff;
}

/* Mobile responsive */
@media screen and (max-width: 576px) {
  /* font-size responsive */
  html {
    font-size: 12px;
  }

  /* nav and header responsive */
  nav {
    align-items: center;
    margin: 0 1.25rem;
  }

  .nav-left {
    width: 65px;
  }

  #home, #shop, #about-us {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner-left {
    margin: 2.25rem 1.25rem 0;
  }

/* plants-section responsive*/
  .plants-container {
    margin: 5.25rem 1.25rem 0 1.25rem;
  }

  .plant-carts {
    grid-template-columns: repeat(2, 1fr);
  }

  .plants-container h2 {
    font-size: 2rem;
  }

  /* flower lover section responsive */
 .flowers-lover {
  margin: 3.25rem 1.25rem 0 1.25rem ;
  flex-direction: column;
  gap: 1.5rem;
 }

 #trusted-badge {
  display: none;
 }



 .flower-lover-title {
  font-size: 2rem;
 }

 .flowers-lover-description > ul > li {
  margin: 0 1.25rem 1.25rem;
  font-size: 1.1rem;
 }

 /* deals section responsive */

 .deals-container {
   margin: 10rem 1.25rem 0 1.25rem;
 }

 .deals-container p {
  margin-bottom: 4.25rem;
 }

 .deals-offers {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 185px);
  
 }

 .offer-1, .offer-2, .offer-3 {
  grid-column: span 1fr;
  grid-row: span 1fr;
  border-radius: 14px;
 }

 .offer-2 {
  grid-column: span 1;
  grid-row: span 1;
 }

 .offer-1 p, .offer-2 p, .offer-3 p {
  font-size: 1.75rem;
 }

 .offer-1 a, .offer-2 a, .offer-3 a {
  font-size: 1.25rem;
 }
}